#
# /etc/my.cnf
#

[mysqld]
datadir          = /var/lib/mysql
user             = mysql
pid-file         = /var/run/mysqld.pid
socket           = /tmp/mysql.sock
port             = 3306
general_log      = 1
general_log_file = /var/log/mysqld.log

skip-networking

ignore-builtin-innodb
plugin-load=innodb=ha_innodb_plugin.so
skip-innodb


[client]
socket = /tmp/mysql.sock
port   = 3306

# End of file
